@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&family=Sofia+Sans+Semi+Condensed:wght@500&display=swap");

:root {
  --color-text: #404040;
  --title-font: "Sofia Sans Semi Condensed", sans-serif;
  --text-font: "Figtree", sans-serif;
  --color-border: #e0e8d9;
  --color-primary: #9ea76a;
  --color-secondary: #f77f87;
  --color-secondary-light: #fda0a5;
  --color-secondary-superlight: #ffe8e9;
  --color-tertiary: #607b40;
  --color-quaternary: #f8bd75f3;
}

/*Laptop L*/
@media (max-width: 2000px) {
  header,
  main,
  footer {
    width: 85% !important;
  }
}

/*Laptop*/
@media (max-width: 1400px) {
  header,
  main,
  footer {
    width: 90% !important;
  }

  .project__button {
    font-size: 0.8rem !important;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  .project__section .second__col,
  .project__section .third__col {
    margin-top: 5.5rem;
  }

  .project__section p {
    padding-bottom: 2.2rem !important;
  }
}

/*Mobile L*/
@media (max-width: 576px) {
  header,
  main,
  footer {
    width: 90% !important;
  }

  .hero h1 {
    font-size: 3.1rem !important;
    padding-bottom: 1rem !important;
  }

  .hero p {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }

  .page__button {
    font-size: 0.9rem !important;
    background-color: var(--color-secondary-light) !important;
  }
}

/*Mobile M*/
@media (max-width: 400px) {
  header .nav-link {
    padding: 0.7rem !important;
  }

  .hero h1 {
    font-size: 2.7rem !important;
  }

  .hero p {
    padding-bottom: 2.1rem !important;
  }

  .project__section span {
    font-size: 0.6rem !important;
  }
}

/*Mobile S*/
@media (max-width: 350px) {
  header,
  main,
  footer {
    width: 95% !important;
  }

  header .nav-link {
    padding: 0.57rem !important;
  }

  .hero h1 {
    font-size: 2.3rem !important;
  }

  .hero p {
    font-size: 1.16rem !important;
  }

  .page__button {
    font-size: 0.87rem !important;
    padding: 0.7rem 0.8rem !important;
  }
}

header,
main,
footer {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

header .active {
  background-color: var(--color-tertiary) !important;
  opacity: 0.8;
}

header img {
  border-radius: 50%;
  background-color: #f5e0e1; /*or #f5e0e1; | #ffefde;*/
}

header .nav-item {
  position: relative;
}

header .nav-item::after {
  content: "";
  height: 5px;
  background-color: var(--color-secondary-superlight);
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

header .nav-item:hover::after {
  transform: scaleX(1);
}

header .nav-link {
  color: var(--color-text);
}

header .nav-link:hover {
  color: var(--color-text);
}

h1,
h2,
h5,
p,
a,
span {
  font-family: var(--text-font);
}

.hero {
  min-height: 400px;
  padding: 3rem 0 4rem;
}

.hero h1 {
  font-size: 3.5rem;
  opacity: 0.9;
}

.hero p {
  font-size: 1.4rem;
  font-weight: 300;
  opacity: 0.8;
}

.hero__link {
  display: inline-block;
  position: relative;
  color: var(--color-text) !important;
  text-decoration: none;
}

.hero__link::after,
.hero__link::before {
  content: "";
  display: block;
  height: 0.5em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero__link::before {
  background-color: var(--color-border);
}

.hero__link::after {
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.hero__link:hover::after {
  transform: scaleX(1);
}

.page__button {
  color: white;
  background-color: var(--color-secondary);
  padding: 0.7rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid transparent !important;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
}

.project__section {
  min-height: 650px;
  padding: 0 0 4rem;
}

.project__section h1 {
  font-size: 1.9rem;
  opacity: 0.9;
}

.project__section h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.project__section span {
  font-size: 0.7rem;
  background-color: var(--color-tertiary);
  opacity: 0.5;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: white;
}

.project__section span > i {
  margin-right: 0.3em;
}

.project__button {
  color: white;
  background-color: var(--color-secondary-light);
  padding: 0.4rem 0.7rem;
  border-radius: 0.375rem;
  border: 1px solid transparent !important;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.project__section .card-body > div:last-of-type {
  column-gap: 2rem;
}

footer a:first-of-type:hover {
  text-decoration: underline !important;
}

footer i {
  font-size: 1.1rem;
}

footer i:hover {
  color: var(--color-text) !important;
}
